src/objspec.dtd

<?xml version="1.0" ?>

<!DOCTYPE  CAEObject [

<!-- State data types -->
<!ENTITY dtype_uint '2'>

<!-- Logging data. States the data of FAP element that should be logged -->
<!ELEMENT logdata EMPTY>
<!-- Logspec includes attribute "levent" and assosiated logging data set -->
<!ELEMENT logspec (logdata+)>

<!ELEMENT state (logspec*)>

<!ELEMENT object (object* , state*, logspec*, conn*)>

<!ELEMENT caeenv (object*)>

<!-- Transition function -->
<!ELEMENT transf (dep*)>


<!ATTLIST logspec event (Creation, Updated) #REQUIRED>
<!ATTLIST logdata ldata (Data) #REQUIRED>
<!ATTLIST object type (CDATA) id (CDATA) #REQUIRED>

<!-- State's attributes:
  type - type of state
  datatype - data type (how state data can be interpreted
  id - identification of instance
  transf - transtion function -->
<!ATTLIST state 
   type CDATA #REQUIRED
   id CDATA #REQUIRED
   len CDATA #REQUIRED
   access (Reg, Inp, Out) #REQUIRED
   transf CDATA 
   init CDATA >

<!-- Connections to state -->
<!ATTLIST conn state (CDATA) id (CDATA) #REQUIRED>

]> <!-- Doctype-->

