src/objspec.dtd

<!-- TODO [YB] No error whyle spec parsing when data type entity missed -->
<!-- TODO [DONE] [YB] external entities shall not be used as attr value - against XML WFC -->


<!-- State data types -->
<!--
     StInt, StUint8, StUint32, StBool
     -->


<!-- Logging data. States the data of FAP element that should be logged -->
<!ELEMENT logdata EMPTY>

<!-- Logspec includes attribute "levent" and assosiated logging data set -->
<!ELEMENT logspec (logdata+)>

<!ELEMENT state (logspec*, inp*)>

<!-- FAP object spec: 
     logspec - logging spec,
     object - embedded object(s),
     state - embedded state(s),
     conn - connnection(s) -->
<!ELEMENT object (logspec*, object* , state*, conn*)>

<!-- Object Producing spec -->
<!ELEMENT prod EMPTY >

<!ELEMENT caeenv (object*)>

<!-- State input -->
<!ELEMENT inp EMPTY>

<!-- Transition function -->
<!ELEMENT transf (dep*)>

<!-- Connection of state -->
<!ELEMENT conn (dep*) >

<!-- Dependency in state connection -->
<!ELEMENT dep EMPTY >

<!-- Logging event: upd - updated, cre - created, any - all events -->
<!ATTLIST logspec event (upd | cre | any) #REQUIRED>

<!-- Logging data: cur - current value, new - new value, dep - pependencies -->
<!ATTLIST logdata id (cur | new | dep) #REQUIRED>

<!-- Object  attributes:
     type - parent name,
     id - instance name,
     prod - producing type
     -->
<!ATTLIST object 
   type CDATA #REQUIRED
   id CDATA #REQUIRED
    prod (copy) #IMPLIED
>

<!-- State's attributes:
  type - type of state
  datatype - data type (how state data can be interpreted
  id - identification of instance
  transf - transtion function -->
<!ATTLIST state 
   type CDATA #REQUIRED
   id CDATA #REQUIRED
   len CDATA #IMPLIED
   access (Reg | Inp | Out) #REQUIRED
   transf CDATA #IMPLIED
   init CDATA #REQUIRED>

<!-- State input attributes -->
<!ATTLIST inp 
    id CDATA #REQUIRED
>

<!-- Connections of state 
   state - target state
     -->
<!ATTLIST conn 
    state CDATA #REQUIRED
>

<!-- Dependency in state connections 
   inp - target state input
   conn - connected state name
     -->
<!ATTLIST dep 
   inp CDATA #REQUIRED
   conn CDATA #REQUIRED
>

<!-- Environment attr -->
<!--
<!ATTLIST caeenv 
   root CDATA #REQUIRED
>
-->
