src/objspec.dtd

<!-- TODO [YB] No error whyle spec parsing when data type entity missed -->
<!-- TODO [YB] external entities shall not be used as attr value - against XML WFC -->

<!-- Values of logging data -->
<!ENTITY logdata_new '2' >
<!ENTITY logdata_dep '8' >

<!-- State data types -->
<!--
     StInt, StUint8, StUint32, StBool
     -->


<!-- Logging data. States the data of FAP element that should be logged -->
<!ELEMENT logdata EMPTY>

<!-- Logspec includes attribute "levent" and assosiated logging data set -->
<!ELEMENT logspec (logdata+)>

<!ELEMENT state (logspec*)>

<!ELEMENT object (logspec*, object* , state*, conn*)>

<!ELEMENT caeenv (object*)>

<!-- Transition function -->
<!ELEMENT transf (dep*)>

<!-- Connection of state -->
<!ELEMENT conn (dep*) >

<!-- Dependency in state connection -->
<!ELEMENT dep EMPTY >

<!-- Logging event: upd - updated, cre - created, any - all events -->
<!ATTLIST logspec event (upd | cre | any) #REQUIRED>

<!-- Logging data: cur - current value, new - new value, dep - pependencies -->
<!ATTLIST logdata id (cur | new | dep) #REQUIRED>

<!ATTLIST object 
   type CDATA #REQUIRED
   id CDATA #REQUIRED
>

<!-- State's attributes:
  type - type of state
  datatype - data type (how state data can be interpreted
  id - identification of instance
  transf - transtion function -->
<!ATTLIST state 
   type CDATA #REQUIRED
   id CDATA #REQUIRED
   len CDATA #IMPLIED
   access (Reg | Inp | Out) #REQUIRED
   transf CDATA #IMPLIED
   init CDATA #REQUIRED>

<!-- Connections of state -->
<!ATTLIST conn 
   state CDATA #REQUIRED
>

<!-- Dependency in state connections -->
<!ATTLIST dep 
   id CDATA #REQUIRED
>

